@use "../global" as g;
@use "../foundation/mixin" as m;

.contact-contents {
    padding: 67px 0 70px;
    color: var(--color-section);
    h1 {
        text-align: center;
        font-weight: 300;
        font-size: 0.89rem;
        line-height: 1.17rem;
        letter-spacing: 0.05em;
        margin-bottom: 38px;
    }
    .container {
        display: block;
        width: 80%;
        margin: 0 auto;
        background-color: var(--color-bg-contact);
        padding: 90px 0;
        span {
            display: inline-block;
            font-size: 0.67rem;
            line-height: 0.89rem;
            margin-left: 14px;
        }
        .required::after {
            content: "*必須";
            color: var(--color-form-required);
        }
        form p {
            display: block;
            font-size: 0.89rem;
            line-height: 1.17rem;
            letter-spacing: 0.05em;
            margin-left: 90px;
            margin-bottom: 27px;
            input {
                width: 300px;
                height: 40px;
                border: 1px solid var(--color-form-border);
                background-color: var(--color-head);
                border-radius: 6px;
                margin-top: 8px;
                padding-left: 11px;
            }
        }
        p#p_radio {
            height: auto;
            input {
                width: auto;
                height: auto;
                border-radius: 0;
                margin-top: 13px;
            }
            label {
                margin-right: 55px;
                input {
                    margin-right: 3px;
                }
                :last-of-type {
                    margin-right: 0;
                }
            }
        }
        p#p_textarea {
            textarea {
                width: 600px;
                height: 255px;
                border-radius: 6px;
                margin-top: 8px;
                border: 1px solid var(--color-form-border);
                padding-left: 11px;
                background-color: var(--color-head);
            }
        }
        p#p_list {
            height: auto;
            span {
                text-transform: uppercase;
                margin-left: 0;
            }
            select {
                cursor: pointer;
                width: 300px;
                height: 40px;
                margin-top: 8px;
                border-radius: 6px;
                border: 1px solid var(--color-form-border);
                padding-left: 29px;
                background-color: var(--color-head);
                appearance: none; /* 標準のスタイルを無効にする */
                option {
                    font-size: 0.78rem;
                    line-height: 1.0rem;
                    letter-spacing: 0.05em;
                    color: var(--color-form-placeholder);
                }
            }
        }
        p#p_submit {
            text-align: center;
        }
    }
}

@include m.mq(pc) {
    .contact-contents {
        padding-top: 37px;
        h1 {
            font-size: 0.78rem;
            line-height: 1.17rem;
            margin-bottom: 28px;
        }
        .container {
            width: calc(100% - 40px);
            padding: 27px 0;
            span {
                margin-left: 20px;
            }
            form p {
                display: block;
                font-size: 0.83rem;
                line-height: 1.11rem;
                margin-left: 30px;
                margin-bottom: 28px;
                input {
                    width: calc(100% - 30px);
                    border-radius: 0;
                    margin-top: 8px;
                    padding-left: 0px;
                    font-size: 0.72rem;
                    line-height: 0.94rem;
                }
            }
            p#p_radio {
                height: auto;
                input {
                    width: auto;
                    height: auto;
                    border-radius: 0;
                    margin-top: 11px;
                }
                label {
                    display: block;
                    margin-right: 0;
                    input {
                        margin-right: 10px;
                    }
                }
            }
            p#p_textarea {
                textarea {
                    width: calc(100% - 30px);
                    border-radius: 0;
                }
            }
            p#p_list {
                height: auto;
                margin-bottom: 50px;
                select {
                    cursor: pointer;
                    width: calc(100% - 30px);
                    border-radius: 0;
                    padding-left: 11px;
                    option {
                        font-size: 0.78rem;
                        line-height: 1.0rem;
                        letter-spacing: 0.05em;
                        color: var(--color-form-placeholder);
                    }
                }
            }
            p#p_submit {
                text-align: center;
                margin: 0;
            }
        }
    }
}