@use "../global" as g;
@use "../foundation/mixin" as m;

.recruit-contents {
    width: 100%;
    background-image: url(../../img/bg-geometry.png);
    background-repeat: repeat;
    padding-bottom: 110px;
    .recruit-top {
        text-align: center;
        padding-top: 116px;
        .recruit-top-title {
            color: var(--color-title);
            h1 {
                font-family: var(--font-family-head);
                font-size: 4.0rem;
                line-height: 4.89rem;
                font-weight: bold;
                letter-spacing: 0.01em;
            }
            p {
                font-size: 1.78rem;
                line-height: 2.39rem;
                letter-spacing: 0.05em;
                margin-top: 8px;
            }
        }
        p {
            margin-top: 34px;
            margin-bottom: 38px;
            font-family: var(--font-family-head);
            font-weight: normal;
            font-size: 0.89rem;
            line-height: 1.56rem;
            letter-spacing: 0.05em;
        }
        img {
            width: 100%;
            height: 650px;
            object-fit: cover;
            object-position: 0 -120px;
            transform: skew(0, -5deg);
        }
    }
    .recruit-content {
        margin-top: 133px;
        h1 {
            text-align: center;
            color: var(--color-title);
            font-family: var(--font-family-base);
            font-weight: bold;
            font-size: 1.78rem;
            line-height: 2.39rem;
            letter-spacing: 0.05em;
            margin-bottom: 36px;
        }
        .job {
            padding: 58px 0;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            background-color: var(--color-head);
            border: 1px solid var(--color-recruit-border);
            border-radius: 10px;
            h1 {
                color: var(--color-base);
                font-family: var(--font-family-head);
                font-size: 1.33rem;
                line-height: 1.78rem;
                letter-spacing: 0.05em;
            }
            dl {
                display: grid;
                width: 80%;
                margin: 0 auto;
                grid-template-columns: 1fr 5fr;
                text-align: left;
                font-size: 0.83rem;
                line-height: 1.11rem;
                letter-spacing: 0.05em;
                margin-bottom: 68px;
                dt {
                    width: 100%;
                    height: 78px;
                    padding-top: 29px;
                    border-bottom: 1px solid var(--color-tab-border);
                    padding-left: 29px;
                    font-family: var(--font-family-base);
                }
                dd {
                    padding-top: 29px;
                    border-bottom: 1px solid var(--color-tab-border);
                    font-family: var(--font-family-head);
                }
                :nth-child(6) {
                    font-family: var(--font-family-base);
                }
                :nth-child(9) {
                    padding-bottom: 149px;
                }
                :nth-child(10) {
                    font-family: var(--font-family-base);
                    ul {
                        padding-left: 1.0em;
                        font-family: var(--font-family-head);
                    }
                }
            }
            p {
                margin-top: 21px;
                font-size: 0.67rem;
                line-height: 0.89rem;
                font-family: var(--font-family-head);
            }
        }
        .video {
            display: block;
            width: 80%;
            height: 624px;
            margin: 0 auto;
        }
    }
}

@include m.mq(pc) {
    .recruit-contents {
        padding-bottom: 80px;
        .recruit-top {
            padding-top: 40px;
            .recruit-top-title {
                .recruit-top-title {
                    h1 {
                        font-size: 2.67rem;
                        line-height: 3.11rem;
                    }
                    p {
                        font-size: 1.0rem;
                        line-height: 1.33rem;
                        letter-spacing: 0.018em;
                        margin-top: 12px;
                    }
                }
                p {
                    margin-top: 19px;
                    font-size: 0.83rem;
                    line-height: 1.5rem;
                }
            }
            img {
                height: 290px;
                object-position: 0 -40px;
                transform: skew(0, -5deg);
            }
        }
        .recruit-content {
            margin-top: 35px;
            h1 {
                font-size: 1.33rem;
                line-height: 1.78rem;
                margin-bottom: 27px;
            }
            .job {
                padding: 28px 0;
                width: calc(100% - 40px);
                margin-bottom: 75px;
                h1 {
                    font-size: 0.89rem;
                    line-height: 1.17rem;
                }
                dl {
                    width: calc(100% - 40px);
                    grid-template-columns: 1fr;
                    font-size: 0.78rem;
                    line-height: 1.06rem;
                    margin-bottom: 40px;
                    dt {
                        width: 100%;
                        height: auto;
                        padding-top: 17px;
                        border-bottom: 0;
                        padding-left: 0;
                    }
                    dd {
                        font-size: 0.83rem;
                        line-height: 1.11rem;
                        padding-top: 5px;
                        padding-bottom: 14px;
                        border-bottom: 1px solid var(--color-tab-border);
                        font-family: var(--font-family-head);
                    }
                    :nth-child(9) {
                        padding-bottom: 0;
                    }
                }
            }
            .video {
                display: block;
                width: calc(100% - 40px);
                height: 703px;
            }
        }
    }
}

