@use "../global" as g;
@use "../foundation/mixin" as m;

.works-contents {
    .container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 28px;
        padding: 70px 0 110px;
    }
    .works-content {
        width: 100%;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        }
        h1 {
            font-family: var(--font-family-head);
            font-size: 0.89rem;
            line-height: 1.17rem;
            font-weight: normal;
            letter-spacing: 0.05em;
            margin-top: 12px;
        }
    }
}

@include m.mq(pc) {
    .works-contents {
        .container {
            padding: 40px 0 80px;
            width: calc(100% - 40px);
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
        .works-content {
            h1 {
                margin-top: 13.4px;
            }
        }
    }
}

