:root {
    --color-head: #FFFFFF;
    --color-section: #333333;
    --color-bg-section: #E8E8E8;
    --color-bg-works: #F0F0F0;
    --color-bg-recruit: #F7F7F7;
    --color-bg-contact: #F7F7F7;
    --color-title: #391E88;
    --color-bg-line: #F5F534;
    --color-bg-header: transparent;
    --color-bg-header-fixed: #21054D;
    --color-bg-button-left: #7633A4;
    --color-bg-button-right: #250D65;
    --color-copyright: #A798B7;
    --color-bg-footer: #120E19;
    --color-border: #707070;
}