@use "../global" as g;
@use "../foundation/mixin" as m;

.company {
    background-color: var(--color-bg-section);
    text-align: center;
    .c-button {
        position: absolute;
        z-index: 2;
        bottom: 79px;
        left: calc(50% - 100px);
    }
    .container {
        width: calc(100% - 140px);
        margin: 0 auto;
        position: relative;
    }
    .wrapper {
        width: 80%;
        padding: 136px 0 139px;
        margin: 0 auto;
        background-image: url(../../img/bg-circle.png);
        background-size: cover;
        p {
            font-family: var(--font-family-base);
            font-size: 0.83rem;
            line-height: 1.5rem;
            letter-spacing: 0.05em;
        }
    }
    .c-line-title {
        margin: 30px auto 40px;
    }
}

@include m.mq(pc) {
    .company {
        .c-button {
            position: static;
        }
        .container {
            width: calc(100% - 40px);
            position: static;
        }
        .wrapper {
            width: 100%;
            padding: 40px 0 96px;

            p {
                margin: 39px auto 43px;
            }
        }
    }
}