@use "../global" as g;
@use "../foundation/mixin" as m;

footer {
    background-color: var(--color-bg-footer);
    text-align: center;
    .container {
        width: calc(100% - 60px);
        padding: 60px 0;
        position: relative;
    }
    .c-nav {
        font-size: 0.77rem;
        line-height: 1.07em;
        letter-spacing: 0;
    }
    .c-nav li {
        margin-right: 20px;
    }
    .c-nav li:last-of-type {
        margin-right: 0;
    }
    p {
        color: var(--color-copyright);
        font-family: var(--font-family-head);
        font-size: 0.56rem;
        line-height: 0.67rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        margin-top: 22px;
    }
    a#page_top_btn {
        display: none;
        right: 45px;
        bottom: 48px;
        position: fixed;
        z-index: 800;
    }
    a#page_top_btn.fixed {
        display: block;
        @include m.animation(
        $name: fadeIn,
        $duration: 1.0s,
        $timing-function: ease,
        $delay: 0s,
        $iteration-count: 1,
        $direction: normal,
    );
    }
}