@use "../global" as g;
@use "../foundation/mixin" as m;

header {
    width: 100%;
    background-color: transparent;
    font-family: var(--font-family-head);
    position: fixed;
    z-index: 900;

    .container {
        width: calc(100% - 60px);
        display: flex;
        justify-content: space-between;
    }
    .c-toggle {
        display: none;
    }
    .c-nav {
        font-size: 0.77rem;
        line-height: 1.07em;
        padding: 34px 0;
    }
    .c-nav li {
        margin-right: 25px;
    }
    .c-nav li:last-of-type {
        margin-right: 0;
    }
}
header.fixed {
    background-color: var(--color-bg-header-fixed);
    @include m.animation(
        $name: fadeIn,
        $duration: 1.5s,
        $timing-function: ease,
        $delay: 0s,
        $iteration-count: 1,
        $direction: normal,
    );
    .c-nav {
        padding: 27px 0;
    }
    .header_logo {
        margin-top: 27px;
    }
}

.header_logo {
    color: var(--color-head);
    /*To Do: fix using SVG.*/
    font-size: 17.38px;
    line-height: 1.0em;
    letter-spacing: 0.018em;
    font-weight: bold;
    margin-top: 34px;
}