@use "../global" as g;

.recruit {
    background-color: var(--color-bg-section);
    .container {
        padding: 70px 0;
    }
    .wrapper {
        display: grid;
        width: 80%;
        height: 332px;
        margin: 0 auto;
        grid-template-columns: 1fr 2fr;
        div {
            background-color: var(--color-bg-recruit);
            text-align: center;
            .c-title {
                margin-top: 70px;
            }
            p#recruit-item {
                font-family: var(--font-family-base);
                font-size: 0.83rem;
                line-height: 1.56rem;
                letter-spacing: 0.05em;
                margin-bottom: 48px;
            }
        }
        img {
            width: 100%;
            height: 332px;
            object-fit: cover;
        }
    }
}