@use "../global" as g;
@use "../foundation/mixin" as m;

.works {
    .container {
        background-color: var(--color-bg-section);
        padding: 60px 0 81px;
        position: relative;
        .works-bg {
            display: block;
            width: 66%;
            height: 651px;
            background-color: var(--color-bg-works);
            position: absolute;
            top: 0;
            right: 70px;
        }
    }
    .wrapper {
        display: grid;
        width: calc(100% - 140px);
        margin: 0 auto;
        grid-template-columns: 2fr 1fr;
        position: relative;
        .c-slide {
            max-width: 750px;
            align-self: start;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .c-works-item {
            background-color: var(--color-bg-works);
            text-align: center;
            padding-right: 60px;
            .c-title {
                margin-top: 153px;
            }
            p#works-item {
                font-family: var(--font-family-base);
                font-size: 0.83rem;
                line-height: 1.5rem;
                letter-spacing: 0.05em;
                margin: 30px 0 48px;
            }
        }
    }
}

@include m.mq(pc) {
    .works {
        .container {
            padding: 0;
            .works-bg {
                display: block;
                width: calc(100% + 40px);
                top: 115px;
                right: 0;
            }
        }
        .wrapper {
            display: block;
            width: calc(100% - 40px);
            .c-works-item {
                display: block;
                margin: 0 -20px 0;
                width: calc(100% + 40px);
                padding-right: 0;
                padding: 40px 0 78px;
                .c-title {
                    margin-top: 40px;
                }
                p#works-item {
                    font-family: var(--font-family-base);
                    font-size: 0.78rem;
                    line-height: 1.38rem;
                    margin: 0 auto 43px;
                }
            }
            .c-slide {
                max-width: 100%;
            }
        }
    }
}