@use "../global" as g;

.c-breadcrumb {
    width: 100%;
    background-color: var(--color-bg-section);
    padding: 15px 0;
    color: var(--color-title);
    ul {
        width: 80%;
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
            font-family: var(--font-family-head);
            font-size: 0.67rem;
            line-height: 1.56rem;
            letter-spacing: 0.05em;
            font-weight: normal;
        }
        li a {
            text-decoration: none;
            color: var(--color-title);
        }
        li:not(:last-child)::after {
            display: inline-block;
            font-family: var(--font-awesome);
            font-weight: 900;
            content: '\f105';
            margin: 0 1.0em;
            padding: 0;
        }
    }
}