@use "../global" as g;
@use "../foundation/mixin" as m;

.c-line-title {
    font-size: 2.22rem;
    line-height: 0.8em;
    letter-spacing: 0.05em;
    font-family: var(--font-family-base);
    span {
        display: block;
        margin: -5px auto;
        width: 666px;
        height: 12px;
        background-color: var(--color-bg-line);
    }
}

@include m.mq(pc) {
    .c-line-title {
        display: inline;
        padding: 0 30px;
        font-size: 1.78rem;
        line-height: 2.67rem;
        background: linear-gradient(transparent 75%, var(--color-bg-line) 0%);
        span {
            display: none;
        }
    }
}