@use "../global" as g;

.c-nav {
    list-style: none;
}
.c-nav li {
    display: inline-block;
}
.c-nav li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-head);
    font-family: var(--font-family-head);
    font-weight: bold;
    position: relative;
}
.c-nav li a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: -5%;
        width: 110%;
        height: 1px;
        border-radius: 0.5px;
        background-color: var(--color-head);
        transition: all .3s;
        transform: scaleX(0);
        transform-origin: left top;
}
.c-nav li a:hover::after {
    transform: scaleX(1.0);
}