@use "../global" as g;

.c-page-title {
    width: 100%;
    height: 240px;
    background-image: url(../../img/hero.png);
    background-size: cover;
    background-position: center;
    color: var(--color-head);
    text-align: center;
    padding-top: 106px;
    font-family: var(--font-family-head);
    font-weight: bold;
    letter-spacing: 0.05em;
    h1 {
        font-size: 2.0rem;
        line-height: 1.22em;
    }
    p {
        font-size: 0.78rem;
        line-height: 1.0rem;
    }
}