@use "../global" as g;
@use "../foundation/mixin" as m;

.c-tab {
    font-family: var(--font-family-head);
    dt {
        font-size: 0.83rem;
        letter-spacing: 0.1em;
        font-weight: normal;
        float: left;
        span {
            vertical-align: top;
            text-align: center;
            display: inline-block;
            font-size: 0.67rem;
            letter-spacing: 0.05em;
            font-weight: bold;
            padding: 3px 16px;
            margin: 0 20px;
            border-radius: 50px;
            background-color: var(--color-bg-category);
            vertical-align: bottom;
        }
    }
    dd {
        font-family: var(--font-family-base);
        font-size: 0.83rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
        font-weight: 300;
        padding-left: 174px;
        margin-bottom: 18px;
    }
}

@include m.mq(pc) {
    .c-tab {
        :last-child {
            margin-bottom: 0;
        }
        dt {
            float: none;
            margin-bottom: 10px;
            span {
                padding: 3px 21px;
                margin: 0 15px;
            }
        }
        dd {
            padding-left: 0;
            margin-bottom: 35px;
        }
    }
}