@use "../global" as g;

.c-title {
    font-family: var(--font-family-head);
    color: var(--color-title);
    text-align: center;
    h1 {
        font-size: 2.0rem;
        line-height: 1.78rem;
        letter-spacing: 0.02em;
        margin-bottom: 2px;
    }
    p {
        font-family: var(--font-family-base);
        font-size: 0.72rem;
        line-height: 1.78rem;
        letter-spacing: 0.05em;
        margin-left: 5px;
    }
}