@use "../global" as g;
@use "../foundation/mixin" as m;

.c-title {
    font-family: var(--font-family-head);
    color: var(--color-title);
    text-align: center;
    h1 {
        font-size: 2.0rem;
        line-height: 1.78rem;
        letter-spacing: 0.02em;
        margin-bottom: 2px;
    }
    p {
        font-family: var(--font-family-base);
        font-size: 0.72rem;
        line-height: 1.78rem;
        letter-spacing: 0.05em;
    }
}
@include m.mq(pc) {
    .c-title {
        h1 {
            font-size: 1.67rem;
            line-height: 2.06rem;
            letter-spacing: 0.05em;
        }
        p {
            line-height: 0.94rem;
        }
        margin-bottom: 30px;
    }
}