@use "../global" as g;
@use "../foundation/mixin" as m;

.c-toggle {
    display: none;
}
@include m.mq(pc) {
    .c-toggle {
        display: block;
        width: 44px;
        height: 44px;
        position: absolute;
        z-index: 1010;
        span {
            display: block;
            width: 34px;
            height: 2px;
            background-color: var(--color-head);
            border-radius: 1px;
            position: absolute;
            z-index: 1011;
            left: 6px;
        }
        :nth-child(1) {
            top: 14px;
        }
        :nth-child(2) {
            top: 21px;
        }
        :nth-child(3) {
            top: 28px;
        }
    }
}
/*
@include m.mq(pc) {
    .c-toggle {
        display: block;
        width: 44px;
        height: 44px;
        span {
            display: block;
            width: 34px;
            height: 2px;
            background-color: var(--color-head);
        }
        :nth-child(1) {
            top: 14px;
        }
        :nth-child(2) {
            top: 21px;
        }
        :nth-child(3) {
            top: 28px;
        }
    }
}
}*/